@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

body{
    overflow-x: hidden;
}

section{
    margin-bottom: 100px;
}

.main_btn{
    display: block;
    background: #1d87d5;
    border: none;
    padding: 8px 25px;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    font-size: .9em;
    width: fit-content;
    border-radius: 5px;
}

.missing_info_header{
    font-weight: 700;
    margin-bottom: 10px;
}

.missing_info_msg{
    margin: 25px 0;
    text-align: center;
}

.missing_info_btn_contain{
    display: flex;
    justify-content: space-between;
}

.missing_info_btn_contain button{
    width: 47%;
    background: transparent;
    border: none;
    display: block;
    border: none;
    padding: 8px 25px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: .9em;
    border-radius: 5px;
}

.missing_info_btn_contain button.filled{
    color: white;
    background: #1d87d5;
}

.home_page .hero_section{
    height: 80vh;
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar nav .logo_contain .logo{
    font-size: 1.1em;
    font-weight: 700;
}

.nav_bar nav .socials_contain{
    display: flex;
}

.nav_bar nav .socials_contain .social_icon{
    display: block;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background: none;
    /* background: var(--dark-gray); */
    border: 1px solid #e0e0e0;
    color: #222;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 700;
    font-size: .8em;
}

.footer .footer_contain{
    display: flex;
    height: 80px;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .footer .footer_contain{
        flex-direction: column;
        height: auto;
    }
}

.footer .footer_contain .logo_contain .logo{
    font-size: 1.1em;
    font-weight: 700;
}

@media screen and (max-width: 768px){
    .home_page .hero_section{
        height: 70vh;
    }
}

.home_page .hero_section .text_contain{
    width: 70%;
}

.home_page .hero_section .hero_text{
    font-size: 4.8em;
    font-weight: 900;
    text-align: center;
    line-height: 1.2em;
    text-transform: capitalize;
}

.home_page .hero_section .hero_text .special_text{
    animation: textAnimate 50s infinite linear;
}

@media screen and (max-width: 992px){
    .home_page .hero_section .hero_text{
        font-size: 4em;
    }
}

@media screen and (max-width: 576px){
    .home_page .hero_section .hero_text{
        font-size: 2.8em;
        line-height: 1.2em;
    }
}

@keyframes textAnimate{
    0%{
        background: linear-gradient(to right, #1d87d5 0%, #22b3d0 20%, #1d87d5 40%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20%{
        background: linear-gradient(to right, #1d87d5 20%, #22b3d0 40%, #1d87d5 60%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    40%{
        background: linear-gradient(to right, #1d87d5 40%, #22b3d0 60%, #1d87d5 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60%{
        background: linear-gradient(to right, #1d87d5 60%, #22b3d0 80%, #1d87d5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    80%{
        background: linear-gradient(to right, #1d87d5 80%, #22b3d0 100%, #1d87d5 0%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        background: linear-gradient(to right, #1d87d5 100%, #22b3d0 0%, #1d87d5 10%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.home_page .features_section .features_header{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.home_page .features_section .feature{
    text-align: center;
}

.home_page .features_section .feature .number{
    font-size: 6em;
    font-weight: 900;
    background: linear-gradient(to right, #1d87d5 40%, #22b3d0 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home_page .features_section .feature .title{
    font-weight: 500;
    font-size: 1.2em;
    color: #333333;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.home_page .features_section .feature .desc{
    color: gray;
}

.home_page .device_image_contain{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_page .device_image_contain .device_desc{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.home_page .cv_text_contain .title{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 15px;
}

.home_page .cv_text_contain .desc{
    color: gray;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px){
    .home_page .cv_text_contain{
        text-align: center;
        margin-bottom: 20px;
    }
}

.home_page .users_comment_header{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.home_page .users_comments .name{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 6px;
}

.home_page .users_comments .role{
    font-weight: 200;
    margin-bottom: 20px;
}

.home_page .users_comments .comment{
    margin-bottom: 10px;
    color: gray;
}

@media screen and (max-width: 768px){
    .home_page .users_comments{
        text-align: center;
    }
}

.home_page .before_footer_section{
    height: 250px;
    width: 100%;
    border-radius: 5px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home_page .before_footer_section .text{
    font-size: 1.4em;
    font-weight: 700;
}

.home_page .before_footer_section .sub_text{
    margin-bottom: 20px;
    color: gray;
}

.how_it_works_page .how_it_works_contain{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.how_it_works_page .how_it_works_contain .how_it_works_header{
    font-size: 3em;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px){
    .how_it_works_page .how_it_works_contain .how_it_works_header{
        font-size: 2em;
    }
}

.how_it_works_page .how_it_works_contain .step_list{
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.how_it_works_page .how_it_works_contain .step_list li{
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(108, 108, 108);
}

@media screen and (max-width: 768px){
    .how_it_works_page .how_it_works_contain .step_list li{
        font-size: 1em;
    }
}

.how_it_works_page .how_it_works_contain .step_list li:not(:last-child){
    margin-bottom: 20px;
}

.how_it_works_page .how_it_works_contain .image_contain{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 992px){
    .how_it_works_page .how_it_works_contain .image_contain{
        display: none;
    }
}

.forms_body{
    min-height: 90vh;
}

.forms_body .form_container{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 50px;
}

@media screen and (max-width: 992px){
    .forms_body .form_container{
        min-height: 90vh;
    }
}

@media screen and (max-width: 768px) {
    .forms_body .form_container{
        padding: 30px;
    }
}

.forms_body .form_container .page_name{
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.forms_body .form_container .page_desc{
    margin-bottom: 40px;
}

.forms_body .progess_container{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    background: white;
    border-left: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px){
    .forms_body .progess_container{
        display: none;
    }
}

.forms_body .progess_container .header{
    font-weight: 700;

}

.forms_body .progess_container .page_name{
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9em;
}

.forms_body .progess_container .get_more{
    color: gray;
}

.forms_body .progess_container .get_more > span{
    color: green;
    font-weight: 700;
}

.forms_body .btn_contain{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.forms_body .btn_contain .back_btn{
    display: block;
    background: transparent;
    border: none;
    padding: 8px 25px;
    color: #333333;
    cursor: pointer;
    text-transform: capitalize;
    font-size: .9em;
    width: fit-content;
}

.forms_body .add_more_btn{
    background: none;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    margin: 10px 0;
}

.forms_body .skills_page .skill_pills_contain{
    display: flex;
    margin: 40px 0;
    flex-wrap: wrap;
    width: 100%;
}

.forms_body .skills_page .skill_pills_contain .skill_pill{
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: fit-content;
    margin-right: 15px;
    font-size: .9em;
    margin-bottom: 20px;
}

.forms_body .skills_page .skill_pills_contain .skill_pill .skill_name{
    margin-right: 10px;
}

.templates_page .page_header{
    padding: 40px 0;
}

.templates_page .page_header p{
    font-size: 1.5em;
    font-weight: 700;
}

.templates_page .template_card .template_img_contain{
    height: 200px;
    width: 100%;
    background: whitesmoke;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.templates_page .template_card .template_img_contain .img{
    transform: translateY(40px);
    height: 100%;
    width: 60%;
    margin: auto;
}

.templates_page .template_card .template_img_contain .template_card_overlay{
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    transition: .5s;
}

.templates_page .template_card .template_img_contain:hover .template_card_overlay{
    display: flex;
    transition: .5s;
}

.templates_page .template_card .mobile_btn_contain{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.templates_page .template_card .mobile_btn_contain button{
    height: 30px;
    width: 47%;
    border: none;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 992px){
    .templates_page .template_card .mobile_btn_contain button{
        display: none;
    }
}

.templates_page .template_card .mobile_btn_contain button span{
    margin-left: 10px;
}

.templates_page .template_card .mobile_btn_contain button.filled{
    background: #1d87d5;
    color: white;
}

.templates_page .template_preview_overlay{
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.templates_page .template_previewer{
    height: 100vh;
    width: 40vw;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    overflow-y: auto;
}

@media screen and (max-width: 992px){
    .templates_page .template_previewer{
        width: 90vw;
    }
}

.templates_page .template_previewer .contain{
    padding: 20px 30px;
}

.templates_page .template_previewer .template_preview_img{
    height: auto;
    width: 100%;
    margin: 50px 0;
}

@media screen and (max-width: 992px){
    .templates_page .template_previewer .template_preview_img{
        height: 70vh;
    }
}

.templates_page .template_previewer .select_btn{
    height: 40px;
    width: 100%;
    background: #1d87d5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.finish_page{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finish_page .loader_contain,
.finish_page .success_contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finish_page .loader{
    margin: 30px 0;
}

.finish_page .text{
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.finish_page .download_btn{
    display: block;
    background: #1d87d5;
    border: none;
    padding: 8px 25px;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    font-size: .9em;
    width: fit-content;
    border-radius: 5px;
}

.finish_page .download_btn span{
    margin-left: 10px;
}